<h1>Listing Games</h1>

<script type="text/javascript">

mixpanel.identify('3')
mixpanel.people.set({
  "details": "third person",
  "account": "Nick's Account",
  "name": "Gerlando Piro"
})

mixpanel.track("Index Page", {
  "account": "Nick's Account/Second account"
});

/*mixpanel.track('page viewed', {
    'page name' : document.title,
    'url' : window.location.pathname
}); */

</script>

<h1>
  This is the branched app
</h1>
